---
http_interactions:
- request:
    method: get
    uri: https://data.seattle.gov/resource/i47f-eseg.json?$limit=30&$where=within_circle(location,%2047.612926,%20-122.336815,%20250)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 21 Jan 2016 09:29:33 PST
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["offense_code","offense_type","census_tract_2000",":updated_at","date_reported","location","occurred_date_range_end","zone_beat","district_sector","offense_code_extension","hundred_block_location","summarized_offense_description","general_offense_number","longitude","summary_offense_code",":id","latitude","rms_cdw_id","occurred_date_or_date_range_start",":created_at"]'
      X-Soda2-Types:
      - '["text","text","text","meta_data","calendar_date","location","calendar_date","text","text","text","text","text","text","number","text","meta_data","number","text","calendar_date","meta_data"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "offense_code" : "2399",
          "offense_type" : "THEFT-OTH",
          "census_tract_2000" : "8100.2002",
          "date_reported" : "2016-01-07T21:23:00",
          "location" : {
            "needs_recoding" : false,
            "longitude" : "-122.338150024",
            "latitude" : "47.610973358"
          },
          "zone_beat" : "M2",
          "offense_code_extension" : "3",
          "district_sector" : "M",
          "hundred_block_location" : "3XX BLOCK OF PINE ST",
          "summarized_offense_description" : "OTHER PROPERTY",
          "general_offense_number" : "20168095",
          "longitude" : "-122.338150024",
          "summary_offense_code" : "2300",
          "latitude" : "47.610973358",
          "rms_cdw_id" : "616702",
          "occurred_date_or_date_range_start" : "2016-01-07T21:23:00"
        }
        , {
          "offense_code" : "2399",
          "offense_type" : "THEFT-OTH",
          "census_tract_2000" : "7200.1064",
          "date_reported" : "2016-01-15T15:41:00",
          "location" : {
            "needs_recoding" : false,
            "longitude" : "-122.337966919",
            "latitude" : "47.612422943"
          },
          "zone_beat" : "M2",
          "offense_code_extension" : "3",
          "district_sector" : "M",
          "hundre[...]
[...]
- request:
    method: get
    uri: https://data.seattle.gov/resource/69v5-5c5g.json?$where=within_circle(rack_location,%2047.612926,%20-122.336815,%20250)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 03 Dec 2014 14:44:48 PST
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["delineator","comptype","compkey","unitdesc","distance","unitid","longitude","bike_facil","surface_ty","unittype","mount_type","finish_typ","segkey",":updated_at","condition","width","manufactur","rack_capac","condition_","asset_cond","install_da","color","rack_location",":id","latitude","model_type","objectid",":created_at"]'
      X-Soda2-Types:
      - '["checkbox","number","number","text","number","text","number","text","text","text","text","text","number","meta_data","text","number","text","number","calendar_date","text","calendar_date","text","location","meta_data","number","text","number","meta_data"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "finish_typ" : "GALV",
          "segkey" : "7243",
          "condition" : "GOOD",
          "delineator" : false,
          "width" : "-39",
          "manufactur" : "BKR-ARCRE",
          "comptype" : "16",
          "rack_capac" : "2",
          "condition_" : "2009-07-17T00:00:00",
          "compkey" : "516828",
          "asset_cond" : "GOOD",
          "distance" : "78",
          "unitdesc" : "5TH AVE 0200 BLOCK NE SIDE (  58) 58 FT NW/O VIRGINIA ST",
          "unitid" : "BKR-2012",
          "color" : "NONE",
          "rack_location" : {
            "needs_recoding" : false,
            "longitude" : "-122.3393",
            "latitude" : "47.6139"
          },
          "longitude" : "-122.3393",
          "surface_ty" : "PCC",
          "bike_facil" : "SGL",
          "latitude" : "47.6139",
          "model_type" : "BKR-RLRCK",
          "objectid" : "516828",
          "unittype" : "BKR",
          "mount_type" : "SUFMT"
        }
        , {
          "finish_typ" : "GALV",
          "segkey" : "7243",
          "condition" : "GOOD",
          "delineator" : false,
          "width" : "39",
          "manufactur" : "BKR-CRMTL",
          "comptype" : "16",
          "rack_capac" : "2",
          "condition_" : "2009-10-14T00:00:00",
          "compkey" : "516829",
          "asset_cond" : "GOOD",
          "distance" : "95",
          "unitdesc" : "5TH AVE 0200 BLOCK SW SIDE (  77) 77 FT NW/O VIRGINIA ST",
          "unitid" : "BKR-2775",
          "color" : "NONE",
          "install_da" : "2009-08-14T00:00:00",
          "rack_location" : {
            "needs_recoding" : false,
            "longitude" : "-122.3396",
            "latitude" : "47.6138"
          },
          "longitude" : "-122.3396",
          "surface_ty" : "PCC",
          "bike_facil" : "SGL",
          "latitude" : "47.6138",
          "model_type" : "BKR-CRRKB",
          "objectid" : "516829",
          "unittype" : "BKR",
          "mount_type" : "STBS"
        }
        , {
          "finish_typ" : "GALV"[...]
