@import "semantic-ui";
@import "home";
@import "map";
@import "dashboard";
@import "user_card";

// removes shitty padding on bottom of header
.ui.secondary.pointing.menu {
  margin-bottom: 0px;
}

// set height for viewport
html,body { height: 100%; margin: 0px; padding: 0px; }

