#dashboard-card {
  height: 850px;
  overflow: scroll;
}

#large-icon {
  font-size: 2em;
}

#bike-reg-prompt {
  padding: 100px 20px 150px;
}


// bike reg modal
#bike-reg-modal{
  padding: 50px 100px;
}

.hover{
  background-color: #f9f9f9;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}

#profile-pic {
  padding-left: 100px;
  padding-top: 25px;
}

.ui.tiny.image.circular {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

#user-stat-icons{
  margin-top: -8px;
  padding-right: 30px;
}

