#dashboard-card {
  height: 750px;
  overflow: scroll;
}

#large-icon {
  font-size: 3em;
}

#bike-reg-prompt {
  padding: 100px 20px 150px;
}


// bike reg modal
#bike-reg-modal{
  padding: 50px 100px;

}
