<div class="ui column centered grid raised padded text segment" id="map-box">
  <input id="pac-input" class="controls" type="text"
    placeholder="Where would you like to Park your Bike?">
  <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcLBwo2NDXZGjkp7wpfgAAsL9q_XXaeo&signed_in=true&libraries=places&callback=initAutocomplete" async defer>
</script>
