


<div class="ui column centered grid raised  padded text  segment ">
  <div class="ui header" id="map"></div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcLBwo2NDXZGjkp7wpfgAAsL9q_XXaeo&signed_in=true&callback=initMap" async defer>
</script>

<script  type="text/javascript">
  var locations= [];
  var thefts = [];

  <% @seattle_crimes.each do |crime| %>
    locations.push(["crime", <%= crime.latitude %>, <%= crime.longitude%>, 3])
  <% end %>

  <% @bike_thefts.each do |theft| %>
    thefts.push(["theft", <%= theft.latitude %>, <%= theft.longitude%>, 3])
  <% end %>

  console.log(thefts)

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(47.614074707,-122.320777893),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, theft, i, k;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }


    for (k = 0; k < thefts.length; k++) {
      theft = new google.maps.Marker({
        position: new google.maps.LatLng(thefts[k][1], thefts[k][2]),
        map: map,
        icon:  'https://maps.google.com/mapfiles/kml/shapes/cycling.png',
      });

      google.maps.event.addListener(theft, 'click', (function(theft, k) {
        return function() {
          infowindow.setContent(thefts[k][0]);
          infowindow.open(map, theft);
        }
      })(theft, k));
    }

  }
</script>
