


<div class="ui column centered grid raised  padded text  segment ">
  <div class="ui header" id="map"></div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcLBwo2NDXZGjkp7wpfgAAsL9q_XXaeo&signed_in=true&callback=initMap" async defer>
</script>

<script  type="text/javascript">
  var locations = [];
  <% @seattle_crimes.each do |crime| %>
    locations.push(["crime", <%= crime.latitude %>, <%= crime.longitude%>, 3])
  <% end %>

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(47.614074707,-122.320777893),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>
