<h1 class="ui icon header" id="bike-reg-prompt">
  <i class="frown icon blue"></i>
  <div class="content">
    Uh Oh! You don't have any registered bikes!
    <div class="sub header">Adding a bike to Sodata is easy! Simply click on the button below!</div>
  </div>
</h1>
