<div class="ui segment red" id="dashboard-card">
  <h2 class="ui center floated header blue">
    <%= current_user.first_name %>'s Bikes
  </h2>
  </br>
  <h4 class="ui horizontal divider header">
    <i class="empty heart icon"></i>
    Currently Registered
  </h4>
  

  <% if current_user.bikes.count > 0 %>
    <%= render partial: "layouts/bike_list" %>
  <% else %>
    <%= render partial: "layouts/bike_reg_prompt" %>
  <% end %>

  <button class="ui blue button" id="modal-trigger">
    <i class="add circle icon" style="font-size: 1.3em"></i>  
    Add New Bike
  </button>
</div>

<%= render partial: "layouts/bike_reg_modal"%>
