<footer class="footer" id="directory">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Socrata App</p>
      <p class="links">
        <a href="#top">Top</a>
        <a href="http://adamki.github.io">About Me</a>
        <a href="http://github.com/adamki/sodata">Github</a>
      </p>
      <p class="copywrite">Adam Ki Jensen © 2016</p>
    </div>
  </div>
</footer>
