<footer>
  <div id="contact">
    <div class="row">
      <div class="large-12 columns">

        <div>
          <ul class="small-block-grid-1 large-block-grid-4">
            <li>
              <h3>Heading 1</h3>
              <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.</p>
            </li>
            <li>
              <h3>Heading 2</h3>
              <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.</p>
            </li>
            <li>
              <h3>Heading 3</h3>
              <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.</p>
            </li>
            <li>
              <h3>Contact Us</h3>
              <ul>
                <li>
                  <i class="fi-telephone"></i> (512)111-2222
                </li>
                <li>
                  <i class="fi-home"></i> 1234 Lorem ipsum<br>Austin TX, 78681</li>
                  <li>
                    <i class="fi-mail"></i> <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                  </li>
                </ul>
                <img src="img/map.png" alt="map" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-4 pull-1 columns text-center">
            <p>&copy; Copyright Your Name here.</p>
          </div>
          <div class="large-7 push-2 columns text-center">
            <!-- Please Leave this link out of respect for the designer -->
            <p>Designed By:
              <a href="http://epickwebdesign.com">E Pick Web Design</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
