<div class="ui inverted vertical footer segment form-page">
  <div class="ui container">
    Created By and For Adam Ki Jensen 2016. All Rights Reserved

    <a href="#top">Top</a>
    <a href="http://adamki.github.io">About Me</a>
    <a href="http://github.com/adamki/sodata">Github</a>
  </div>
</div>
