<div id="top"></div>
<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">Sodata App</a>
        </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span></span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul id="nav" class="right">
        <li>
          <a href="#top">Home</a>
        </li>

        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#contact">Contact Us</a>
        </li>
        <li class="social"> <a href="http://facebook.com/epickwebdesign"><i class="fi-social-facebook"></i></a></li>
        <li class="social"> <a href="http://twitter.com/epickwebdesign"><i class="fi-social-twitter"></i></a></li>
        <li class="social"> <a href="http://epickwebdesign.com"><i class="fi-social-pinterest"></i></a></li>
      </ul>

    </section>
  </nav>
</div>
